# Ignore environment variables file
.env
config/config.conf
*.env
# example of a specific config file to exclude
config/secrets.cfg  

#Virual environment folder
reddit_data_engineering/ 

# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
logs/
*.log

# Virtual environments
venv/
env/

# macOS
.DS_Store

# Other files to ignore
*.swp

# Ignore Airflow logs and temporary files
logs/
airflow.db
airflow-webserver.pid

# Ignore specific Airflow directories and files
config/
# If config files contain sensitive information, consider excluding specific files
!config/*.conf  
data/


# Python environment and dependency files
.env
.venv/
env/
venv/
ENV/
.Python

# C extensions
*.so